@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
}
body h1 {
  font-size: 4rem;
  margin: 0 0 1rem 0;
}
body h2 {
  font-size: 2rem;
  margin: 0 0 1rem 0;
}
body p {
  margin: 0 0 .75rem 0;
}

.parallax-section {
  height: 100vh;
  max-height: 100vh;
  background: #fbfbfb;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.parallax-section h1 {
  margin-top: 0;
}
.parallax-section .image-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
}
.parallax-section .image-block.parallax1 {
  background-image: url("https://images.unsplash.com/photo-1486596156859-6904e4dff8bb?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=7119f7ae64dae07c7bd0a1f6d60d7942");
  background-attachment: fixed;
  
}
.parallax-section .image-block.parallax2 {
  background-image: url("https://images.unsplash.com/photo-1505855265981-d52719d1f64e?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=8a78a1d5ee9c43243315c25f7d7d6c43");
  background-attachment: fixed;
}

.text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 50vh;
  padding: 20%;
  position: relative;
  z-index: 10;
}
