@tailwind preflight;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css?family=Roboto:300|Unica+One');

body{
    background-color: rgb(0, 0, 0);
    font-family: 'Unica One';
    color: rgb(218, 218, 196);
}



p{
    font-family: 'Roboto';
    line-height: 1em;
    padding-left: 2%;
}



.page-wrapper {
    @apply min-h-screen;
    }
    
.page-content {
    @apply flex flex-col w-full fixed pin-l pin-y;
}


/** Header **/

.header {
    @apply flex items-center justify-between flex-wrap p-6 sticky;
    background: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
    
.header-title {
    @apply text-white text-3xl;
}
    
.header-ulist {
    @apply flex;
}
    
.header-list {
    @apply mr-4 list-reset;
}
    
.header-navlink {
    @apply text-white no-underline font-bold ; 
}
    
.header-navlink:hover {
    @apply no-underline font-bold;
    color: rgba(1, 221, 184, 0.68);
}
    
/** Footer **/

.footer {
    @apply flex items-center justify-center flex-wrap p-5;
    background: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
}
    
.footer-ulist {
    @apply flex list-reset;

}

.footer-list {
    @apply mr-4 list-reset ;
}

.footer-envelope {
    @apply mt-3;
    font-size: 40px;
    color: rgba(1, 221, 184, 0.68);
}
  
    
/** Bottom Page **/
    

.story{
    display: flex;
    padding: 5% 0;
}

.story h2, .story h3{
    font-size: 1.2em;
    word-break: break-all;
}

.leftStory{    
    width: 35%;
    padding: 0 2%;
}

.rightStory{    
    width: 60%;
}
.clear{
    clear: both;
}

.leftSide{
    width: 60%;
    float: left;
    background: linear-gradient(180deg, black, #333);
    padding-bottom: 5%;
}

.rightSide{
    width: 40%;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100vh;
    overflow: hidden;
    background-image: url('');
    background-size: cover;
    transition: background-image 0.3s;
}

.headerTitle{
    font-size: 1.8em;
    margin: 0 !important;
    color: rgb(218, 218, 196);
}

.headerTitle h1{
    margin: 0;
    padding: 2%;
}

.lname{
    color: rgba(1, 221, 184, 0.68);
}

.headerText{
    color: rgb(218, 218, 196);
    width: 80%;
}








