@tailwind preflight;
@tailwind components;
@tailwind utilities;



/** Page **/

.page-wrapper {
    @apply min-h-screen;
}

.page-content {
    @apply flex flex-col w-full fixed pin-l pin-y;
}



.leftSide {
    width: 60%;
    float: left;
   
    }

.rightSide {
    width: 40%;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    overflow: hidden;
    background-image: url('https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/monalisa.jpg');
    background-size: cover;

}

.story-header {
    margin: 0;  
}

.story-header-text {
    color: rgb(218, 218, 196);
    padding: 7px 0;
}
.rightStory {
    float: left;
    width: 40%;
}


.story{
    display: flex;
    padding: 1% 0;
    background: black;
    /* linear-gradient(90deg, rgb(44, 44, 44), rgb(0, 0, 0)); */
   
}

.leftStory {
    float: left;
    width: 25%;
    padding: 0 2%;
}

.rightStory {
    float: left;
    width: 40%;
}
.clear {
    clear: both;
}

/** Header **/

.header {
    @apply flex items-center justify-between flex-wrap p-6 sticky;
    background: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.header-title {
    @apply text-white text-3xl;
}

.header-ulist {
    @apply flex;
}

.header-list {
    @apply mr-4 list-reset;
}

.header-navlink {
    @apply text-white no-underline font-bold ; 
}

.header-navlink:hover {
    @apply text-grey no-underline font-bold; 
}


/** Footer  **/

.footer-wrapper {
    @apply flex  text-white p-5;
    background: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
}

.footer-content {
    @apply justify-center text-center;
    width: 100%;
    
}

.footer-image {
    @apply justify-center mr-6;
    position: fixed;
    right: 0;
    bottom: 0;

}   

/** Content section **/

.content-wrapper {
    @apply px-4 pt-4 flex-1 overflow-y-scroll;
}

.content-text {
    @apply text-grey-dark;
}

